<main class="home">
  <section class="home__presentation">
    <div class="home__presentation__logo">
      <img src="/assets/logo-green.png" />
      <h1>DamTech</h1>
      <span *ngIf="currentUser === 'admin-users'">
        <p>Empresas</p>
        <i-lucide
          [img]="building2"
          [size]="15"
          class="home__presentation__logo-icon"
        ></i-lucide>
      </span>
    </div>
    <div class="home__presentation__description">
      <h2>{{ description.title }}</h2>
      <p>{{ description.text }}</p>
      <!-- <h3>{{ description.filter }}</h3> -->
    </div>
    <!-- <div class="home__presentation__location">
      <i-lucide
        [img]="mapPin"
        [size]="20"
        class="home__presentation__location-icon"
      ></i-lucide>
      <input type="text" [placeholder]="'Ex: Recife, PE'" />
      <button class="home__presentation__location-btn">
        <i-lucide
          [img]="sendHorizontal"
          class="home__presentation__location-btn--icon"
          [size]="20"
        ></i-lucide>
      </button>
    </div> -->
  </section>
  <section class="home__route">
    <router-outlet></router-outlet>
  </section>
</main>
