@import "../../../styles/utilities";
@import "../../../styles/variables";

.dropdown {
  @include flex-center;
  flex-direction: column;
  width: 160px;
  gap: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 30px;
    border: solid 1px $medium-black;
    padding: 0 5px;
    height: 30px;

    &-name {
      @include grid-container(2);
      gap: 5px;

      &--icon {
        color: $light-green;
        height: 25px;
        width: 25px;
      }

      h3 {
        font-size: 12px;
        font-weight: 600;
        color: $off-white;
      }
    }

    &-arrow {
        color: $off-white;
        height: 22px;
        width: 22px;
    }
  }

  &__options {
    @include flex-center;
    width: 100%;
    border-radius: 30px;
    border: solid 1px $medium-black;
    height: 25px;
    color: $off-white;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
  }
}
