<div class="infos" [ngStyle]="{ height: height + 'px' }">
  <div class="infos__header">
    <div class="infos__header__dam">
      <i-lucide
        [img]="dam"
        [size]="20"
        class="infos__header__dam-icon"
      ></i-lucide>
      <h1>{{ name }}</h1>
      <p>{{ city }}/{{ state }}</p>
    </div>
    <div class="infos__header__status">
      <p>
        Status: <span>{{ status }}</span>
      </p>
    </div>
    <i-lucide
      [img]="chevronDown"
      class="infos__header-icon"
      [ngClass]="{ rotate: !isOpened }"
      (click)="toogleHeight()"
    ></i-lucide>
    <button
      *ngIf="authenticated"
      routerLink="/home/admin-users/data-registration/{{ idDam }}"
    >
      +
    </button>
  </div>
  <div class="infos__details" [ngStyle]="{ opacity: opacity }" *ngIf="details">
    <div class="infos__details-dam">
      <p>
        Nível da água: <span>{{ waterLevel }}</span>
      </p>
      <p>
        Estrutura: <span>{{ structure }}</span>
      </p>
      <p>
        Previsão climática Local: <span>{{ forecast }}</span>
      </p>
    </div>
    <div class="infos__details-date">
      <p>
        Última visita ao local: <span>{{ lastUpdate }}</span>
      </p>
      <button routerLink="/history/{{ idDam }}">
        <i-lucide
          [img]="history"
          [size]="20"
          class="infos__details-date--icon"
        ></i-lucide>
      </button>
    </div>
  </div>
</div>
