<div class="card">
  <div class="card__details">
    <div class="card__details-day">
      <i-lucide
        [img]="calendarDays"
        [size]="20"
        class="card__details-day--icon"
      ></i-lucide>
      <p>Data da visita: <span>{{ date }}</span></p>
    </div>
    <p>Status: <span>{{ status }}</span></p>
    <p>Nível da água: <span>{{ waterLevel }}</span></p>
    <p>Estrutura: <span>{{ structure }}</span></p>
    <p>Previsão climática Local: <span>{{ forecast }}</span></p>
  </div>
</div>
