@import "../../../styles/variables";
@import "../../../styles/utilities";

.card {
  width: 100%;
  height: 150px;
  border-radius: 30px;
  background-color: $medium-black;
  @include flex-center;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;

  p {
    color: white;
    font-weight: 500;
    font-size: 14px;
  }

  span {
    color: $light-green;
  }

  &__details {
    @include flex-center;
    flex-wrap: wrap;
    gap: 20px;

    &-day {
        @include flex-center;
        gap: 5px;
  
        &--icon {
          color: $light-green;
        }
      }
  }
}
